annotated-types==0.7.0
anyio==4.4.0
astroid==2.4.2
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
blis==0.7.4
cairocffi==1.2.0
catalogue==2.0.6
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==8.1.7
clipboard==0.0.4
colorama==0.4.4
cryptography==3.3.1
cymem==2.0.5
dateparser==1.0.0
decorator==5.0.9
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl
exceptiongroup==1.2.2
fastapi==0.111.1
fastapi-cli==0.0.4
filelock==3.0.12
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==2.10
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.4.3
markdown-it-py==3.0.0
MarkupSafe==1.1.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mdurl==0.1.2
murmurhash==1.0.5
numpy==1.19.3
openai==1.36.0
opencv-python==4.8.0.76
outcome==1.1.0
packaging==20.8
pandas==1.2.2
parso==0.8.2
pathy==0.4.0
pdfminer.six==20201018
pickleshare==0.7.5
Pillow==10.0.1
preshed==3.0.5
prompt-toolkit==3.0.18
pycparser==2.20
pycryptodome==3.9.9
pydantic==2.8.2
pydantic_core==2.20.1
pydot==1.4.2
Pygments==2.18.0
pylint==2.6.0
PyMuPDF==1.18.6
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
python-dateutil==2.8.1
python-dotenv==1.0.1
python-igraph==0.9.6
python-multipart==0.0.9
pytz==2021.1
pywin32==300
PyYAML==5.1.2
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
rich==13.7.1
sacremoses==0.0.45
selenium==4.1.0
shellingham==1.5.4
six==1.15.0
smart-open==3.0.0
sniffio==1.2.0
sortedcontainers==2.3.0
soupsieve==2.3.1
spacy==3.0.0
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-transformers==1.0.2
srsly==2.4.1
starlette==0.37.2
texttable==1.6.4
thinc==8.0.10
tokenizers==0.10.2
toml==0.10.2
torch==1.8.1
tornado==6.1
tqdm==4.57.0
traitlets==5.0.5
transformers==4.5.1
trio==0.19.0
trio-websocket==0.9.2
typer==0.12.3
typing_extensions==4.12.2
tzlocal==2.1
urllib3==1.26.3
uvicorn==0.30.1
wasabi==0.8.2
watchfiles==0.22.0
wcwidth==0.2.5
websockets==12.0
wrapt==1.12.1
wsproto==1.0.0
xlwings==0.21.4
youtube-transcript-api==0.6.2
