colorama
datetime
fastapi
jinja2
openai
pydantic
python-dotenv
python-multipart
sqlalchemy
starlette
uvicorn
youtube_transcript_api
google-api-python-client
pytest
httpx
bcrypt
python-jose[cryptography]>=3.3.0
