<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summara - a minimal YouTube Video Summarizer</title>
    <!-- We could use url_for because it's available via Jinja2 and/or Starlette, like in a Flask app, but we keep it simple -->
    <!--    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}"> -->
    <!-- Note that we use path= because of Starlette, in Flask we would use filename= -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <!-- link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" -->
    <!-- link rel="manifest" href="/static/site.webmanifest" -->
</head>
<body>
    <header>
        <h1><i>Summara</i> – a minimal video transcript summarizer</h1>
        <img src="/static/images/logo.png" alt="Logo" class="logo">
    </header>
    <form id="summarize-form">
        <label for="video_url">YouTube URL or Video ID:</label>
        <input type="text" id="video_url" name="video_url" required>

        <label for="summary_length">Summary Length:</label>
        <input type="number" id="summary_length" name="summary_length" value="300" required>

        <label for="used_model">Used Model:</label>
        <select id="used_model" name="used_model" required>
            <option value="gpt-4o-mini">GPT-4o mini</option>
            <!-- only 4o mini available, the others are deprecated and more expensive -->
            <!-- option value="gpt-3.5-turbo">GPT-3.5 Turbo</option -->
            <!-- option value="gpt-4-turbo">GPT-4 Turbo</option -->
        </select>

        <button type="submit">Summarize</button>
    </form>

    <div id="result">
        <!-- Content will be dynamically inserted here -->
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>